
  <div class="wrap_home">
    <div id="cphMain_ctl00_TopPane" class="top">
      <span style="display: none;">
      </span>
      <%= render "layouts/slide"%>
    </div>
    <div id="cphMain_ctl00_ContentPane" class="center">
      <div id="HomeFeaturedProducts" class="Block FeaturedProducts DefaultModule CustomProduct-2389959">
        <div class="defaultTitle TitleContent">
          <span>Bán chạy trong tháng</span>
        </div>
        <div class="defaultContent BlockContent">
          <ul class="ProductList First">
            <li class="Odd">
              <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389959">
                <a href="http://ecom186clone.bizwebvietnam.com/mu-noi-len-6926996.html" rel="6926996" class="#tooltip6926996">
                <img alt="Mũ nồi len" title="Mũ nồi len" src="assets/145597214.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2014/12/145597214.jpg&amp;width=209&amp;height=160&#39;;">
                </a>
              </div>
              <span class="FeaturedFlag"></span>
              <div class="saleFlag iconSprite disable">
              </div>
              <div class="ProductDetails">
                <strong><a href="http://ecom186clone.bizwebvietnam.com/mu-noi-len-6926996.html">
                Mũ nồi len</a></strong>
              </div>
              <div class="ProductPrice">
                <div class="retail-price disable">
                  <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                  </strike>
                  </span>
                </div>
                <div class="special-price">
                  <span class="price-label"></span><span class="price"><em>
                  99.000 ₫</em>
                  </span>
                </div>
              </div>
              <div class="ProductRating Rating-1" style="display: none;">
                <div class="RatingImage">
                </div>
              </div>
              <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6926996);"><span>Mua hàng</span></a></div>
            </li>
            <li class="Even">
              <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389959">
                <a href="http://ecom186clone.bizwebvietnam.com/binh-sua-co-rong-ppsu-6926992.html" rel="6926992" class="#tooltip6926992">
                <img alt="Bình sữa cổ rộng PPSU" title="Bình sữa cổ rộng PPSU" src="assets/031940040.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2014/12/031940040.jpg&amp;width=209&amp;height=160&#39;;">
                </a>
              </div>
              <span class="FeaturedFlag"></span>
              <div class="saleFlag iconSprite disable">
              </div>
              <div class="ProductDetails">
                <strong><a href="http://ecom186clone.bizwebvietnam.com/binh-sua-co-rong-ppsu-6926992.html">
                Bình sữa cổ rộng PPSU</a></strong>
              </div>
              <div class="ProductPrice">
                <div class="retail-price disable">
                  <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                  </strike>
                  </span>
                </div>
                <div class="special-price">
                  <span class="price-label"></span><span class="price"><em>
                  398.000 ₫</em>
                  </span>
                </div>
              </div>
              <div class="ProductRating Rating-1" style="display: none;">
                <div class="RatingImage">
                </div>
              </div>
              <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6926992);"><span>Mua hàng</span></a></div>
            </li>
            <li class="Odd">
              <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389959">
                <a href="http://ecom186clone.bizwebvietnam.com/quan-jean-style-thoi-trang-6926925.html" rel="6926925" class="#tooltip6926925">
                <img alt="Quần Jean style thời trang" title="Quần Jean style thời trang" src="assets/210452126.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2014/12/210452126.jpg&amp;width=209&amp;height=160&#39;;">
                </a>
              </div>
              <span class="FeaturedFlag"></span>
              <div class="saleFlag iconSprite disable">
              </div>
              <div class="ProductDetails">
                <strong><a href="http://ecom186clone.bizwebvietnam.com/quan-jean-style-thoi-trang-6926925.html">
                Quần Jean style thời trang</a></strong>
              </div>
              <div class="ProductPrice">
                <div class="retail-price disable">
                  <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                  </strike>
                  </span>
                </div>
                <div class="special-price">
                  <span class="price-label"></span><span class="price"><em>
                  120.000 ₫</em>
                  </span>
                </div>
              </div>
              <div class="ProductRating Rating-1" style="display: none;">
                <div class="RatingImage">
                </div>
              </div>
              <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6926925);"><span>Mua hàng</span></a></div>
            </li>
            <br class="Clear">
          </ul>
        </div>
        <div class="defaultFooter FooterContent">
          <div></div>
        </div>
        <div class="Clear"></div>
      </div>
    </div>
  </div>
  <%= render "layouts/right"%>
</div>
<div class="Clear"></div>
<div id="cphMain_ctl00_ContentPaneBottom" class="top_bottom">
  <div id="TextHTML-Module" class="DefaultModule">
    <div class="grid_24">
      <div class="widget widget-static-block ">
        <ul class="top-banner">
          <li class="banner-flash-hover grid_8"><a href="http://ecom186clone.bizwebvietnam.com/#" title="top banner 1"><img alt="top banner 1" class="lazy img-responsive" src="assets/380_200_2(1).jpg" style="width: 380px; height: 200px;"> <span class="hover_image">&nbsp; </span></a></li>
          <li class="banner-flash-hover grid_8"><a href="http://ecom186clone.bizwebvietnam.com/#" title="top banner 2"><img alt="top banner 2" class="lazy img-responsive" src="assets/380_200(1).jpg" style="width: 380px; height: 200px;"> <span class="hover_image">&nbsp; </span></a></li>
          <li class="banner-flash-hover grid_8"><a href="http://ecom186clone.bizwebvietnam.com/#" title="top banner 3"><img alt="top banner 3" class="lazy img-responsive" src="assets/380_200_3(1).jpg" style="width: 380px; height: 200px;"> <span class="hover_image">&nbsp; </span></a></li>
        </ul>
      </div>
      <div style="clear:both; height:0px;">&nbsp;</div>
    </div>
    <div style="clear:both; height:0px;">&nbsp;</div>
  </div>
</div>
<div class="Clear"></div>
<div style="width:1180px; margin:0px auto;" class="wrap_product">
  <div style="width: 882px;float:left;">
    <div style="width: 882px;float:left;clear:both;margin-bottom: 0px;" class="product">
      <div id="cphMain_ctl00_HomeTitlePane" class="home_title"></div>
      <!--  <div id="cphMain_ctl00_HomeLeftPane" class="home_left"></div> -->
      <div id="cphMain_ctl00_HomeContentRightPane" class="home_center_right">
        <div id="TextHTML-Module" class="DefaultModule">
          <div class="block_title"><span>Sản phẩm nổi bật</span></div>
        </div>
        <div id="HomeFeaturedProducts" class="Block FeaturedProducts DefaultModule CustomProduct-2389962">
          <div class="defaultTitle TitleContent">
            <span>Sản phẩm nổi bật</span>
          </div>
          <div class="defaultContent BlockContent">
            <ul class="ProductList First">
              <li class="Odd">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389962">
                  <a href="http://ecom186clone.bizwebvietnam.com/o-to-tha-hinh-go-kitty-6927018.html" rel="6927018" class="#tooltip6927018">
                  <img alt="Ô tô thả hình gỗ Kitty" title="Ô tô thả hình gỗ Kitty" src="assets/092391954.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/092391954.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/o-to-tha-hinh-go-kitty-6927018.html">
                  Ô tô thả hình gỗ Kitty</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price ">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    200.000 ₫</strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    157.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927018);"><span>Mua hàng</span></a></div>
              </li>
              <li class="Even">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389962">
                  <a href="http://ecom186clone.bizwebvietnam.com/do-choi-lego-10662-xep-hinh-6927017.html" rel="6927017" class="#tooltip6927017">
                  <img alt="Đồ chơi Lego 10662 xếp hình" title="Đồ chơi Lego 10662 xếp hình" src="assets/084189451_1.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/084189451_1.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/do-choi-lego-10662-xep-hinh-6927017.html">
                  Đồ chơi Lego 10662 xếp hình</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price disable">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    </strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    597.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927017);"><span>Mua hàng</span></a></div>
              </li>
              <li class="Odd">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389962">
                  <a href="http://ecom186clone.bizwebvietnam.com/do-choi-thu-bong-6927016.html" rel="6927016" class="#tooltip6927016">
                  <img alt="Đồ chơi thú bông" title="Đồ chơi thú bông" src="assets/075954055.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/075954055.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/do-choi-thu-bong-6927016.html">
                  Đồ chơi thú bông</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price disable">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    </strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    342.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927016);"><span>Mua hàng</span></a></div>
              </li>
              <li class="Even">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389962">
                  <a href="http://ecom186clone.bizwebvietnam.com/vit-cuu-ho-32501-munchkin-6927015.html" rel="6927015" class="#tooltip6927015">
                  <img alt="Vit cứu hộ 32501 Munchkin" title="Vit cứu hộ 32501 Munchkin" src="assets/071252252.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/071252252.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/vit-cuu-ho-32501-munchkin-6927015.html">
                  Vit cứu hộ 32501 Munchkin</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price disable">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    </strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    298.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927015);"><span>Mua hàng</span></a></div>
              </li>
              <br class="Clear">
            </ul>
            <ul class="ProductList Last">
              <li class="Odd">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389962">
                  <a href="http://ecom186clone.bizwebvietnam.com/quan-ni-be-trai-6927014.html" rel="6927014" class="#tooltip6927014">
                  <img alt="Quần nỉ bé trai" title="Quần nỉ bé trai" src="assets/011444756_1.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/011444756_1.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/quan-ni-be-trai-6927014.html">
                  Quần nỉ bé trai</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price disable">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    </strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    320.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927014);"><span>Mua hàng</span></a></div>
              </li>
              <li class="Even">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389962">
                  <a href="http://ecom186clone.bizwebvietnam.com/quan-bo-be-trai-dep-6927013.html" rel="6927013" class="#tooltip6927013">
                  <img alt="Quần bò bé trai đẹp" title="Quần bò bé trai đẹp" src="assets/002718146.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/002718146.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/quan-bo-be-trai-dep-6927013.html">
                  Quần bò bé trai đẹp</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price disable">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    </strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    345.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927013);"><span>Mua hàng</span></a></div>
              </li>
              <li class="Odd">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389962">
                  <a href="http://ecom186clone.bizwebvietnam.com/quan-bo-be-trai-6927012.html" rel="6927012" class="#tooltip6927012">
                  <img alt="Quần bò bé trai" title="Quần bò bé trai" src="assets/591557848.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/591557848.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/quan-bo-be-trai-6927012.html">
                  Quần bò bé trai</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price disable">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    </strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    256.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927012);"><span>Mua hàng</span></a></div>
              </li>
              <li class="Even">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389962">
                  <a href="http://ecom186clone.bizwebvietnam.com/quan-dai-bo-be-trai-6927011.html" rel="6927011" class="#tooltip6927011">
                  <img alt="Quần dài bò bé trai" title="Quần dài bò bé trai" src="assets/562655947.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/562655947.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/quan-dai-bo-be-trai-6927011.html">
                  Quần dài bò bé trai</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price disable">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    </strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    435.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927011);"><span>Mua hàng</span></a></div>
              </li>
              <br class="Clear">
            </ul>
          </div>
          <div class="defaultFooter FooterContent">
            <div></div>
          </div>
          <div class="Clear"></div>
        </div>
        <div id="TextHTML-Module" class="DefaultModule">
          <div class="block_title"><span>Sản phẩm mới</span></div>
        </div>
        <div id="HomeFeaturedProducts" class="Block FeaturedProducts DefaultModule CustomProduct-2389965">
          <div class="defaultTitle TitleContent">
            <span>Sản phầm mới</span>
          </div>
          <div class="defaultContent BlockContent">
            <ul class="ProductList First">
              <li class="Odd">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389965">
                  <a href="http://ecom186clone.bizwebvietnam.com/o-to-tha-hinh-go-kitty-6927018.html" rel="6927018" class="#tooltip6927018">
                  <img alt="Ô tô thả hình gỗ Kitty" title="Ô tô thả hình gỗ Kitty" src="assets/092391954.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/092391954.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/o-to-tha-hinh-go-kitty-6927018.html">
                  Ô tô thả hình gỗ Kitty</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price ">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    200.000 ₫</strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    157.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927018);"><span>Mua hàng</span></a></div>
              </li>
              <li class="Even">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389965">
                  <a href="http://ecom186clone.bizwebvietnam.com/do-choi-lego-10662-xep-hinh-6927017.html" rel="6927017" class="#tooltip6927017">
                  <img alt="Đồ chơi Lego 10662 xếp hình" title="Đồ chơi Lego 10662 xếp hình" src="assets/084189451_1.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/084189451_1.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/do-choi-lego-10662-xep-hinh-6927017.html">
                  Đồ chơi Lego 10662 xếp hình</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price disable">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    </strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    597.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927017);"><span>Mua hàng</span></a></div>
              </li>
              <li class="Odd">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389965">
                  <a href="http://ecom186clone.bizwebvietnam.com/do-choi-thu-bong-6927016.html" rel="6927016" class="#tooltip6927016">
                  <img alt="Đồ chơi thú bông" title="Đồ chơi thú bông" src="assets/075954055.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/075954055.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/do-choi-thu-bong-6927016.html">
                  Đồ chơi thú bông</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price disable">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    </strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    342.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927016);"><span>Mua hàng</span></a></div>
              </li>
              <li class="Even">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389965">
                  <a href="http://ecom186clone.bizwebvietnam.com/vit-cuu-ho-32501-munchkin-6927015.html" rel="6927015" class="#tooltip6927015">
                  <img alt="Vit cứu hộ 32501 Munchkin" title="Vit cứu hộ 32501 Munchkin" src="assets/071252252.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/071252252.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/vit-cuu-ho-32501-munchkin-6927015.html">
                  Vit cứu hộ 32501 Munchkin</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price disable">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    </strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    298.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927015);"><span>Mua hàng</span></a></div>
              </li>
              <br class="Clear">
            </ul>
            <ul class="ProductList Last">
              <li class="Odd">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389965">
                  <a href="http://ecom186clone.bizwebvietnam.com/quan-ni-be-trai-6927014.html" rel="6927014" class="#tooltip6927014">
                  <img alt="Quần nỉ bé trai" title="Quần nỉ bé trai" src="assets/011444756_1.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/011444756_1.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/quan-ni-be-trai-6927014.html">
                  Quần nỉ bé trai</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price disable">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    </strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    320.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927014);"><span>Mua hàng</span></a></div>
              </li>
              <li class="Even">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389965">
                  <a href="http://ecom186clone.bizwebvietnam.com/quan-bo-be-trai-dep-6927013.html" rel="6927013" class="#tooltip6927013">
                  <img alt="Quần bò bé trai đẹp" title="Quần bò bé trai đẹp" src="assets/002718146.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/002718146.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/quan-bo-be-trai-dep-6927013.html">
                  Quần bò bé trai đẹp</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price disable">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    </strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    345.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927013);"><span>Mua hàng</span></a></div>
              </li>
              <li class="Odd">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389965">
                  <a href="http://ecom186clone.bizwebvietnam.com/quan-bo-be-trai-6927012.html" rel="6927012" class="#tooltip6927012">
                  <img alt="Quần bò bé trai" title="Quần bò bé trai" src="assets/591557848.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/591557848.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/quan-bo-be-trai-6927012.html">
                  Quần bò bé trai</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price disable">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    </strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    256.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927012);"><span>Mua hàng</span></a></div>
              </li>
              <li class="Even">
                <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389965">
                  <a href="http://ecom186clone.bizwebvietnam.com/quan-dai-bo-be-trai-6927011.html" rel="6927011" class="#tooltip6927011">
                  <img alt="Quần dài bò bé trai" title="Quần dài bò bé trai" src="assets/562655947.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2015/3/562655947.jpg&amp;width=209&amp;height=160&#39;;">
                  </a>
                </div>
                <div class="saleFlag iconSprite disable">
                </div>
                <div class="ProductDetails">
                  <strong><a href="http://ecom186clone.bizwebvietnam.com/quan-dai-bo-be-trai-6927011.html">
                  Quần dài bò bé trai</a></strong>
                </div>
                <div class="ProductPrice">
                  <div class="retail-price disable">
                    <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                    </strike>
                    </span>
                  </div>
                  <div class="special-price">
                    <span class="price-label"></span><span class="price"><em>
                    435.000 ₫</em>
                    </span>
                  </div>
                </div>
                <div class="ProductRating Rating-1" style="display: none;">
                  <div class="RatingImage">
                  </div>
                </div>
                <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6927011);"><span>Mua hàng</span></a></div>
              </li>
              <br class="Clear">
            </ul>
          </div>
          <div class="defaultFooter FooterContent">
            <div></div>
          </div>
          <div class="Clear"></div>
        </div>
      </div>
    </div>
    <div class="Clear"></div>
    <div style="width: 882px;float:left;clear:both;margin-bottom: 20px;" class="product">
      <div id="cphMain_ctl00_HomeTitlePane1" class="home_title"></div>
      <!--  <div id="cphMain_ctl00_HomeLeftPane1" class="home_left"></div> -->
      <div id="cphMain_ctl00_HomeContentRightPane1" class="home_center_right"></div>
    </div>
  </div>
  <div id="cphMain_ctl00_HomeRightPane" class="right">
    <div id="HomeFeaturedProducts" class="Block FeaturedProducts DefaultModule CustomProduct-2389961">
      <div class="defaultTitle TitleContent">
        <span>Sản phẩm bán chạy</span>
      </div>
      <div class="defaultContent BlockContent">
        <ul class="ProductList First">
          <li class="Odd">
            <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389961">
              <a href="http://ecom186clone.bizwebvietnam.com/mu-noi-len-6926996.html" rel="6926996" class="#tooltip6926996">
              <img alt="Mũ nồi len" title="Mũ nồi len" src="assets/145597214.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2014/12/145597214.jpg&amp;width=209&amp;height=160&#39;;">
              </a>
            </div>
            <span class="FeaturedFlag"></span>
            <div class="saleFlag iconSprite disable">
            </div>
            <div class="ProductDetails">
              <strong><a href="http://ecom186clone.bizwebvietnam.com/mu-noi-len-6926996.html">
              Mũ nồi len</a></strong>
            </div>
            <div class="ProductPrice">
              <div class="retail-price disable">
                <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                </strike>
                </span>
              </div>
              <div class="special-price">
                <span class="price-label"></span><span class="price"><em>
                99.000 ₫</em>
                </span>
              </div>
            </div>
            <div class="ProductRating Rating-1" style="display: none;">
              <div class="RatingImage">
              </div>
            </div>
            <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6926996);"><span>Mua hàng</span></a></div>
          </li>
          <br class="Clear">
        </ul>
        <ul class="ProductList ">
          <li class="Odd">
            <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389961">
              <a href="http://ecom186clone.bizwebvietnam.com/binh-sua-co-rong-ppsu-6926992.html" rel="6926992" class="#tooltip6926992">
              <img alt="Bình sữa cổ rộng PPSU" title="Bình sữa cổ rộng PPSU" src="assets/031940040.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2014/12/031940040.jpg&amp;width=209&amp;height=160&#39;;">
              </a>
            </div>
            <span class="FeaturedFlag"></span>
            <div class="saleFlag iconSprite disable">
            </div>
            <div class="ProductDetails">
              <strong><a href="http://ecom186clone.bizwebvietnam.com/binh-sua-co-rong-ppsu-6926992.html">
              Bình sữa cổ rộng PPSU</a></strong>
            </div>
            <div class="ProductPrice">
              <div class="retail-price disable">
                <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                </strike>
                </span>
              </div>
              <div class="special-price">
                <span class="price-label"></span><span class="price"><em>
                398.000 ₫</em>
                </span>
              </div>
            </div>
            <div class="ProductRating Rating-1" style="display: none;">
              <div class="RatingImage">
              </div>
            </div>
            <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6926992);"><span>Mua hàng</span></a></div>
          </li>
          <br class="Clear">
        </ul>
        <ul class="ProductList ">
          <li class="Odd">
            <div id="ProductImage" class="ProductImage ProductImageTooltip po_2389961">
              <a href="http://ecom186clone.bizwebvietnam.com/quan-jean-style-thoi-trang-6926925.html" rel="6926925" class="#tooltip6926925">
              <img alt="Quần Jean style thời trang" title="Quần Jean style thời trang" src="assets/210452126.209.160.jpg" onerror="this.src=&#39;http://media.bizwebmedia.net/Thumbnail.ashx?img=/sites/97940/data/images/2014/12/210452126.jpg&amp;width=209&amp;height=160&#39;;">
              </a>
            </div>
            <span class="FeaturedFlag"></span>
            <div class="saleFlag iconSprite disable">
            </div>
            <div class="ProductDetails">
              <strong><a href="http://ecom186clone.bizwebvietnam.com/quan-jean-style-thoi-trang-6926925.html">
              Quần Jean style thời trang</a></strong>
            </div>
            <div class="ProductPrice">
              <div class="retail-price disable">
                <span class="price-label"></span><span class="price"><strike class="RetailPriceValue">
                </strike>
                </span>
              </div>
              <div class="special-price">
                <span class="price-label"></span><span class="price"><em>
                120.000 ₫</em>
                </span>
              </div>
            </div>
            <div class="ProductRating Rating-1" style="display: none;">
              <div class="RatingImage">
              </div>
            </div>
            <div class="ProductActionAdd"><a href="javascript:;" onclick="javascript:PopupCart(6926925);"><span>Mua hàng</span></a></div>
          </li>
          <br class="Clear">
        </ul>
        <div class="ViewMore">
          <a href="http://ecom186clone.bizwebvietnam.com/san-pham-p7.html?view=featured">Xem thêm</a>
        </div>
        <div class="Clear"></div>
      </div>
      <div class="defaultFooter FooterContent">
        <div></div>
      </div>
      <div class="Clear"></div>
    </div>
    <div id="TextHTML-Module" class="DefaultModule">
      <div class="widget widget-static-block ">
        <p class="banner-home-right banner-flash-hover" title=""><a href="http://ecom186clone.bizwebvietnam.com/#" title="banner"><img alt="Áo khoác anh em" class="lazy img-responsive" src="assets/280x126_1.jpg" style=""> <span class="hover_image">&nbsp; </span> </a></p>
        <p class="banner-home-right banner-flash-hover" title=""><a href="http://ecom186clone.bizwebvietnam.com/#" title="banner"><img alt="" class="lazy img-responsive" src="assets/280x227_1.jpg" style=""> <span class="hover_image">&nbsp; </span> </a></p>
        <p class="banner-home-right banner-flash-hover" title=""><a href="http://ecom186clone.bizwebvietnam.com/#" title=""><img alt="" class="lazy img-responsive" src="assets/280x287_1.jpg" style=""> <span class="hover_image">&nbsp; </span> </a></p>
      </div>
    </div>
  </div>
</div>
<div class="Clear"></div>
<div id="cphMain_ctl00_BottomPane" class="bottom">
  <div id="TextHTML-Module" class="DefaultModule">
    <p style="padding:0px;"></p>
  </div>
  <%= render"layouts/sale"%>
  <div id="TextHTML-Module" class="DefaultModule">
    <p style="padding:0px;"></p>
  </div>
</div>
