#slider_2389970
{
background: #202834 url(http://static.bizwebmedia.net/images/loading2.gif) no-repeat 50% 50%;
height: 394px;
margin-bottom: 10px;
overflow: hidden;
position: relative;
width: 598px;
}
#slider_2389970 img
{
display: none;
left: 0px;
position: absolute;
top: 0px;
}
#slider_2389970 a
{
border: 0;
}
.nivo-controlNav
{
bottom: -30px;
left: 47%;
position: absolute;
}
.nivo-controlNav a
{
background: url(http://static.bizwebmedia.net/images/bullets.png) no-repeat;
border: 0;
display: block;
float: left;
height: 10px;
margin-right: 3px;
text-indent: -9999px;
width: 10px;
}
.nivo-controlNav a.active
{
background-position: -10px 0;
}
.nivo-directionNav a
{
background: url(http://static.bizwebmedia.net/images/arrows.png) no-repeat;
border: 0;
display: block;
height: 34px;
text-indent: -9999px;
width: 32px;
}
a.nivo-nextNav
{
background-position: -32px 0;
right: 10px;
}
a.nivo-prevNav
{
left: 10px;
}
#slider_2389970 p
{
font-family: Arial, sans-serif;
margin-left: 10px;
}
#slider_2389970 p span
{
font-family: Helvetica;
font-size: 10px;
}
.nivo-caption
{
height: 40px;
}
.nivo-caption
{
display: none !important;
}
.nivo-caption p
{
font-family: Arial;
font-size: 14px;
padding-top: 10px;
}
.nivo-controlNav
{
display: none;
}
#topback {
  width: 53px;
  height: 54px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-indent: -99999px;
  cursor: pointer;
  z-index: 9999;
  background: url(http://media.bizwebmedia.net/Sites/95287/data/upload/back_to_top.png?0) no-repeat 0 0;
  }
