<div id="TextHTML-Module" class="DefaultModule">
    <p style="padding:0px;">
       <script type="text/javascript">
          $j('#subscribe_form .subscribe_email').html('We will only send good news');
          $j(function () {
                  $j("[id$='txtEmail']").val("Nhập email của bạn");
                  $j("[id$='txtEmail']").focus(function () {
                      if ($j(this).val() == "Nhập email của bạn") { $j(this).val(""); }
                  }).focusout(function () {
                      if ($j(this).val() == "") { $j("[id$='txtEmail']").val("Nhập email của bạn"); }
                  });
              });
          $j(function () {
                  $j("[id$='txtSearch']").val("Nhập từ khóa cần tìm");
                  $j("[id$='txtSearch']").focus(function () {
                      if ($j(this).val() == "Nhập từ khóa cần tìm") { $j(this).val(""); }
                  }).focusout(function () {
                      if ($j(this).val() == "") { $j("[id$='txtSearch']").val("Nhập từ khóa cần tìm"); }
                  });
              });

       </script>
    </p>
 </div>
 <div id="TextHTML-Module" class="DefaultModule">
    <div class="widget widget-static-block ">
       <div class="saleup-banner">
          <div class="left-saleup-banner banner-flash-hover grid_6"><a href="http://ecom186clone.bizwebvietnam.com/#" title="banner"><img alt="saleup" class="lazy img-responsive" src="./assets/280_300_1.jpg" style="width: 280px; height: 300px;"> <span class="hover_image">&nbsp; </span> </a></div>
          <div class="middle-saleup-banner grid_12">
             <ul>
                <li class="banner-flash-hover"><a href="http://ecom186clone.bizwebvietnam.com/#" title="banner"><img alt="saleup" class="lazy img-responsive" src="./assets/580_140_1.jpg" style="width: 580px; height: 140px;"> <span class="hover_image">&nbsp; </span> </a></li>
                <li class="banner-flash-hover"><a href="http://ecom186clone.bizwebvietnam.com/#" title="banner"><img alt="saleup" class="lazy img-responsive" src="./assets/580_140_2_1.jpg" style="width: 580px; height: 140px;"> <span class="hover_image">&nbsp; </span> </a></li>
             </ul>
          </div>
          <div class="right-saleup-banner">
             <ul>
                <li class="banner-flash-hover"><a href="http://ecom186clone.bizwebvietnam.com/#" title="banner"><img alt="saleup" class="lazy img-responsive" src="./assets/280_100_1b.jpg" style="width: 280px; height: 100px;"> <span class="hover_image">&nbsp; </span> </a></li>
                <li class="banner-flash-hover"><a href="http://ecom186clone.bizwebvietnam.com/#" title="banner"><img alt="saleup" class="lazy img-responsive" src="./assets/280_100_2b.jpg" style="width: 280px; height: 100px;"> <span class="hover_image">&nbsp; </span> </a></li>
                <li class="banner-flash-hover"><a href="http://ecom186clone.bizwebvietnam.com/#" title="banner"><img alt="saleup" class="lazy img-responsive" src="./assets/280_100_3b.jpg" style="width: 280px; height: 100px;"> <span class="hover_image">&nbsp; </span> </a></li>
             </ul>
          </div>
       </div>
    </div>
    <div style="clear:both; height:0px;">&nbsp;</div>
 </div>
 <div id="TextHTML-Module" class="DefaultModule">
    <script type="text/javascript">
       $j(document).ready(function () {
           $j(window).scroll(function () {
               if ($j(window).scrollTop() != 0) {
                   $j('#topback').fadeIn();

               } else {

                   $j('#topback').fadeOut();

               }

           });

           $j('#topback').click(function () {
               $j('html, body').animate({ scrollTop: 0 }, 500);

           });

       });

    </script>
    <p style="padding:0px;">
       <style type="text/css">    #topback {
          width: 53px;
          height: 54px;
          position: fixed;
          bottom: 10px;
          right: 10px;
          text-indent: -99999px;
          cursor: pointer;
          z-index: 9999;
          background: url(http://media.bizwebmedia.net/Sites/95287/data/upload/back_to_top.png?0) no-repeat 0 0;
          }
       </style>
    </p>
 </div>
 <div id="TextHTML-Module" class="DefaultModule">
    <div class="widget widget-static-block footer_text">
       <div class="text_box day-return">
          <a href="http://ecom186clone.bizwebvietnam.com/#" title="Đổi trả trong 30 ngày"><span class="icon day-return">Đổi trả trong 30 ngày</span></a>
          <div class="pull-right">
             <p><a href="http://ecom186clone.bizwebvietnam.com/#" title="Đổi trả trong 30 ngày">Đổi trả trong 30 ngày</a></p>
             <p>Đổi hàng nếu xuất hiện lỗi</p>
          </div>
       </div>
       <div class="text_box shopping">
          <a href="http://ecom186clone.bizwebvietnam.com/#" title="Hướng dẫn đăng ký"><span class="icon shopping">Hướng dẫn đăng ký</span></a>
          <div class="pull-right">
             <p><a href="http://ecom186clone.bizwebvietnam.com/#" title="Hướng dẫn đăng ký">Hướng dẫn đăng ký</a></p>
             <p>Đăng ký nhận khuyến mãi</p>
          </div>
       </div>
       <div class="text_box support">
          <a href="http://ecom186clone.bizwebvietnam.com/#" title="Hỗ trợ khách hàng"><span class="icon support">Hỗ trợ khách hàng</span></a>
          <div class="pull-right">
             <p><a href="http://ecom186clone.bizwebvietnam.com/#" title="Hỗ trợ khách hàng">Hỗ trợ khách hàng</a></p>
             <p>Hệ thống hỗ trợ 24/7</p>
          </div>
       </div>
       <div class="text_box shipping">
          <a href="http://ecom186clone.bizwebvietnam.com/#" title="Hệ thống toàn quốc"><span class="icon shipping">Hệ thống toàn quốc</span></a>
          <div class="pull-right">
             <p><a href="http://ecom186clone.bizwebvietnam.com/#" title="Hệ thống toàn quốc">Hệ thống toàn quốc</a></p>
             <p>Mua và cảm nhận</p>
          </div>
       </div>
       <div style="clear:both;height:0px;">&nbsp;</div>
    </div>
    <div style="clear:both;height:0px;">&nbsp;</div>
    <div class="widget widget-static-block footer_info">
       <div class="box_text">
          <p class="h5">Tài khoản của bạn</p>
          <ul>
             <li><a href="http://ecom186clone.bizwebvietnam.com/account/personal.html">Xem trạng thái đơn hàng</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/account/personal.html">Lịch sử đơn hàng</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/account/personal.html">Thông tin tài khoản</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/account/personal.html">Quên mật khẩu</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/chinh-sach-bao-mat-p15.html">Chính sách bảo mật</a></li>
          </ul>
       </div>
       <div class="box_text">
          <p class="h5">Hỗ trợ khách hàng</p>
          <ul>
             <li><a href="http://ecom186clone.bizwebvietnam.com/lien-he-p4.html">Liên hệ hỗ trợ</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/huong-dan-mua-hang-p10.html">Hướng dẫn mua hàng</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/chinh-sach-doi-tra-p9.html">Chính sách đổi trả</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/phuong-thuc-van-chuyen-p12.html">Phương thức vận chuyển</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/quan-diem-kinh-doanh-p18.html">Quan điểm kinh doanh</a></li>
          </ul>
       </div>
       <div class="box_text">
          <p class="h5">Về Happy Kids</p>
          <ul>
             <li><a href="http://ecom186clone.bizwebvietnam.com/gioi-thieu-p3.html">Giới thiệu Happy Kids</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/tuyen-dung-p17.html">Tuyển dụng</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/dieu-khoan-su-dung-p16.html">Điều khoản sử dụng</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/tin-tuc-p2.html">Tin tức Happy Kids</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/gia-tri-cot-loi-p19.html">Giá trị cốt lõi</a></li>
          </ul>
       </div>
       <div class="box_text">
          <p class="h5">Sản phẩm bán chạy</p>
          <ul>
             <li><a href="http://ecom186clone.bizwebvietnam.com/san-pham-p7.html">Bán hàng cùng Happy Kids</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/vay-be-gai-b1843695.html">Thời trang bé gái</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/ao-be-trai-b1843696.html">Thời trang bé trai</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/giay-dong-am-ap-b1843693.html">Giày bé trai hot</a></li>
             <li><a href="http://ecom186clone.bizwebvietnam.com/giay-dong-am-ap-b1843693.html">Giày bé gái thời trang</a></li>
          </ul>
       </div>
       <div class="box_text info">
          <p class="h5">Chi nhánh Happy Kids</p>
          <p class="h6">Chúng tôi có hệ thống các siêu thị Happy Kids lớn trên toàn quốc:</p>
          <address>Tòa nhà Hà Nội Group,<br>
             Số 442, Đội Cấn,<br>
             Ba Đình, Hà Nội
          </address>
          <p>Hotline: 04 6674 2332<br>
             Support@bizweb.vn
          </p>
       </div>
       <div style="clear:both;height:0px;">&nbsp;</div>
    </div>
 </div
