<div id="Footer">
  <div id="FooterContainer">
    <div class="footer-container">
      <div class="footer">
        <div class="follow-footer">
          <p class="sub-title">Liên kết chúng tôi</p>
          <div><a href="http://ecom186clone.bizwebvietnam.com/#" title="facebook"><span class="icon facebook">Facebook</span></a> <a href="http://ecom186clone.bizwebvietnam.com/#" title="twitter"><span class="icon twitter">Twitter</span></a> <a href="http://ecom186clone.bizwebvietnam.com/#" title="pinterest"><span class="icon pinterest">Pinterest</span></a> <a href="http://ecom186clone.bizwebvietnam.com/#" title="rss"><span class="icon rss">RSS</span></a></div>
        </div>
        <div class="last-col-footer">
          <div class="bottom-container">
            <div class="widget widget-static-block payment">
              <ul>
                <li><a class="icon visa" href="https://www.visa.com/" title="visa">Visa</a></li>
                <li><a class="icon mastercard" href="http://www.mastercard.us/" title="master card">Master Card</a></li>
                <li><a class="icon american_express" href="https://www.americanexpress.com/" title="American Express">American Express</a></li>
                <li><a class="icon paypal" href="https://www.paypal.com/" title="paypal">Paypal</a></li>
                <li class="last"><a class="icon skrill" href="https://www.skrill.com/" title="skrill">Skrill</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div style="clear:both;height:0px;">&nbsp;</div>
    </div>
    <div style="clear:both;height:0px;">&nbsp;</div>
    <div class="copyright-footer">
      <address>© 2014 Công ty Cổ phần Công nghệ DKT.</address>
      <span>Tòa nhà Hà Nội Group</span> Số <a href="http://www.galathemes.com/" title="GalaThemes - Premium Magento Themes">442 Đội Cấn - Ba Đình - Hà Nội</a>
    </div>
  </div>
  <div id="Powerby">
    Thiết kế bởi <a href="http://www.bizweb.vn/" title="Giải pháp thiết kế web bán hàng Số 1 Việt Nam" target="_blank"><strong>Bizweb</strong></a>
  </div>
  <div class="Clear"></div>
</div>
