<div id="Menu">
  <div class="fix-width">
    <div style="display: none !important;">
      <div id="inline1" class="popup-cart"></div>
      <a class="ProductAddButton" href="http://ecom186clone.bizwebvietnam.com/#inline1">Popup Cart</a>
      <a href="http://ecom186clone.bizwebvietnam.com/WebPages/QuickPaymentPopup.aspx" original-href="/WebPages/QuickPaymentPopup.aspx" data-fancybox-type="iframe" rel="nofollow" id="quickPaymentPopupTrigger">quickPaymentPopupTrigger</a>
    </div>
    <div id="menu-container">
      <ul id="nav">
        <li id="nav-1" class="level0 nav-1 first current parent" onmouseover="toggleMenu(1, -1, 1)" onmouseout="toggleMenu(1, -1, 0)" style="z-index:2000;">
          <a href="assets/template_banhang.html">
          <span>Trang chủ</span>
          </a>
        </li>
        <li id="nav-2" class="level0 nav-2 parent" onmouseover="toggleMenu(2, -1, 1)" onmouseout="toggleMenu(2, -1, 0)" style="z-index:2000;">
          <a href="http://ecom186clone.bizwebvietnam.com/gioi-thieu-p3.html">
          <span>Giới thiệu</span>
          </a>
        </li>
        <li id="nav-3" class="level0 nav-3 parent" onmouseover="toggleMenu(3, -1, 1)" onmouseout="toggleMenu(3, -1, 0)" style="z-index:2000;">
          <a href="http://ecom186clone.bizwebvietnam.com/san-pham-p7.html">
          <span>Sản phẩm</span>
          </a>
        </li>
        <li id="nav-4" class="level0 nav-4 parent" onmouseover="toggleMenu(4, -1, 1)" onmouseout="toggleMenu(4, -1, 0)" style="z-index:2000;">
          <a href="http://ecom186clone.bizwebvietnam.com/tin-tuc-p2.html">
          <span>Tin tức</span>
          </a>
        </li>
        <li id="nav-5" class="level0 nav-5 parent" onmouseover="toggleMenu(5, -1, 1)" onmouseout="toggleMenu(5, -1, 0)" style="z-index:2000;">
          <a href="http://ecom186clone.bizwebvietnam.com/ban-do-p5.html">
          <span>Bản đồ</span>
          </a>
        </li>
        <li id="nav-6" class="level0 nav-6 parent" onmouseover="toggleMenu(6, -1, 1)" onmouseout="toggleMenu(6, -1, 0)" style="z-index:2000;">
          <a href="http://ecom186clone.bizwebvietnam.com/lien-he-p4.html">
          <span>Liên hệ</span>
          </a>
        </li>
      </ul>
    </div>
    <br class="Clear">
  </div>
</div>
