<div id="TextHTML-Module" class="DefaultModule">
  <div class="widget widget-static-block ">
    <div class="saleup-banner">
      <div class="left-saleup-banner banner-flash-hover grid_6"><a href="http://ecom186clone.bizwebvietnam.com/#" title="banner"><img alt="saleup" class="lazy img-responsive" src="assets/280_300_1.jpg" style="width: 280px; height: 300px;"> <span class="hover_image">&nbsp; </span> </a></div>
      <div class="middle-saleup-banner grid_12">
        <ul>
          <li class="banner-flash-hover"><a href="http://ecom186clone.bizwebvietnam.com/#" title="banner"><img alt="saleup" class="lazy img-responsive" src="assets/580_140_1.jpg" style="width: 580px; height: 140px;"> <span class="hover_image">&nbsp; </span> </a></li>
          <li class="banner-flash-hover"><a href="http://ecom186clone.bizwebvietnam.com/#" title="banner"><img alt="saleup" class="lazy img-responsive" src="assets/580_140_2_1.jpg" style="width: 580px; height: 140px;"> <span class="hover_image">&nbsp; </span> </a></li>
        </ul>
      </div>
      <div class="right-saleup-banner">
        <ul>
          <li class="banner-flash-hover"><a href="http://ecom186clone.bizwebvietnam.com/#" title="banner"><img alt="saleup" class="lazy img-responsive" src="assets/280_100_1b.jpg" style="width: 280px; height: 100px;"> <span class="hover_image">&nbsp; </span> </a></li>
          <li class="banner-flash-hover"><a href="http://ecom186clone.bizwebvietnam.com/#" title="banner"><img alt="saleup" class="lazy img-responsive" src="assets/280_100_2b.jpg" style="width: 280px; height: 100px;"> <span class="hover_image">&nbsp; </span> </a></li>
          <li class="banner-flash-hover"><a href="http://ecom186clone.bizwebvietnam.com/#" title="banner"><img alt="saleup" class="lazy img-responsive" src="assets/280_100_3b.jpg" style="width: 280px; height: 100px;"> <span class="hover_image">&nbsp; </span> </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div style="clear:both; height:0px;">&nbsp;</div>
</div>
