<div class="slider">
  <div id="slider_2389970" style="margin: 0 auto;" class="nivoSlider">
    <a href="" target="_self" title="" class="nivo-imageLink" style="display: block;">
    <img src="assets/4057045slide_598_400_2.jpg" alt="" style="width: 598px !important; visibility: hidden; display: inline;">
    </a>
    <a href="" target="_self" title="" class="nivo-imageLink" style="display: block;">
    <img src="assets/4057076slide_598_400_1.jpg" alt="" style="width: 598px !important; visibility: hidden; display: inline;">
    </a>
    <a href="" target="_self" title="" class="nivo-imageLink" style="display: none;">
    <img src="assets/2655239slide_598_400_3.jpg" alt="" style="width: 598px !important; visibility: hidden; display: inline;">
    </a>
    <img class="nivo-main-image" src="assets/4057045slide_598_400_2.jpg" style="display: inline; height: 400px; width: 598px;">
    <div class="nivo-caption"></div>
    <div class="nivo-directionNav"><a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a></div>
    <div class="nivo-slice" name="0" style="left: 0px; width: 40px; height: 394px; opacity: 1; overflow: hidden; top: 0px;"><img src="assets/4057076slide_598_400_1.jpg" style="position:absolute; width:598px; height:auto; display:block !important; top:0; left:-0px;"></div>
    <div class="nivo-slice" name="1" style="left: 40px; width: 40px; height: 394px; opacity: 1; overflow: hidden; top: 0px;"><img src="assets/4057076slide_598_400_1.jpg" style="position:absolute; width:598px; height:auto; display:block !important; top:0; left:-40px;"></div>
    <div class="nivo-slice" name="2" style="left: 80px; width: 40px; height: 394px; opacity: 1; overflow: hidden; top: 0px;"><img src="assets/4057076slide_598_400_1.jpg" style="position:absolute; width:598px; height:auto; display:block !important; top:0; left:-80px;"></div>
    <div class="nivo-slice" name="3" style="left: 120px; width: 40px; height: 394px; opacity: 1; overflow: hidden; top: 0px;"><img src="assets/4057076slide_598_400_1.jpg" style="position:absolute; width:598px; height:auto; display:block !important; top:0; left:-120px;"></div>
    <div class="nivo-slice" name="4" style="left: 160px; width: 40px; height: 394px; opacity: 1; overflow: hidden; top: 0px;"><img src="assets/4057076slide_598_400_1.jpg" style="position:absolute; width:598px; height:auto; display:block !important; top:0; left:-160px;"></div>
    <div class="nivo-slice" name="5" style="left: 200px; width: 40px; height: 394px; opacity: 1; overflow: hidden; top: 0px;"><img src="assets/4057076slide_598_400_1.jpg" style="position:absolute; width:598px; height:auto; display:block !important; top:0; left:-200px;"></div>
    <div class="nivo-slice" name="6" style="left: 240px; width: 40px; height: 394px; opacity: 1; overflow: hidden; top: 0px;"><img src="assets/4057076slide_598_400_1.jpg" style="position:absolute; width:598px; height:auto; display:block !important; top:0; left:-240px;"></div>
    <div class="nivo-slice" name="7" style="left: 280px; width: 40px; height: 394px; opacity: 1; overflow: hidden; top: 0px;"><img src="assets/4057076slide_598_400_1.jpg" style="position:absolute; width:598px; height:auto; display:block !important; top:0; left:-280px;"></div>
    <div class="nivo-slice" name="8" style="left: 320px; width: 40px; height: 394px; opacity: 1; overflow: hidden; top: 0px;"><img src="assets/4057076slide_598_400_1.jpg" style="position:absolute; width:598px; height:auto; display:block !important; top:0; left:-320px;"></div>
    <div class="nivo-slice" name="9" style="left: 360px; width: 40px; height: 394px; opacity: 1; overflow: hidden; top: 0px;"><img src="assets/4057076slide_598_400_1.jpg" style="position:absolute; width:598px; height:auto; display:block !important; top:0; left:-360px;"></div>
    <div class="nivo-slice" name="10" style="left: 400px; width: 40px; height: 394px; opacity: 1; overflow: hidden; top: 0px;"><img src="assets/4057076slide_598_400_1.jpg" style="position:absolute; width:598px; height:auto; display:block !important; top:0; left:-400px;"></div>
    <div class="nivo-slice" name="11" style="left: 440px; width: 40px; height: 394px; opacity: 1; overflow: hidden; top: 0px;"><img src="assets/4057076slide_598_400_1.jpg" style="position:absolute; width:598px; height:auto; display:block !important; top:0; left:-440px;"></div>
    <div class="nivo-slice" name="12" style="left: 480px; width: 40px; height: 394px; opacity: 1; overflow: hidden; top: 0px;"><img src="assets/4057076slide_598_400_1.jpg" style="position:absolute; width:598px; height:auto; display:block !important; top:0; left:-480px;"></div>
    <div class="nivo-slice" name="13" style="left: 520px; width: 40px; height: 394px; opacity: 1; overflow: hidden; top: 0px;"><img src="assets/4057076slide_598_400_1.jpg" style="position:absolute; width:598px; height:auto; display:block !important; top:0; left:-520px;"></div>
    <div class="nivo-slice" name="14" style="left: 560px; width: 37.9760021755143px; height: 394px; opacity: 0.999368478303009; overflow: hidden; top: 0px;"><img src="assets/4057076slide_598_400_1.jpg" style="position:absolute; width:598px; height:auto; display:block !important; top:0; left:-560px;"></div>
  </div>
  <div class="nivo-controlNav"><a class="nivo-control" rel="0">1</a><a class="nivo-control active" rel="1">2</a><a class="nivo-control" rel="2">3</a></div>
</div>
