<div id="TextHTML-Module" class="DefaultModule">
   <div class="grid_24">
      <div class="widget widget-static-block ">
         <ul class="top-banner">
            <li class="banner-flash-hover grid_8"><a href="http://ecom186clone.bizwebvietnam.com/#" title="top banner 1"><img alt="top banner 1" class="lazy img-responsive" src="./assets/380_200_2(1).jpg" style="width: 380px; height: 200px;"> <span class="hover_image">&nbsp; </span></a></li>
            <li class="banner-flash-hover grid_8"><a href="http://ecom186clone.bizwebvietnam.com/#" title="top banner 2"><img alt="top banner 2" class="lazy img-responsive" src="./assets/380_200(1).jpg" style="width: 380px; height: 200px;"> <span class="hover_image">&nbsp; </span></a></li>
            <li class="banner-flash-hover grid_8"><a href="http://ecom186clone.bizwebvietnam.com/#" title="top banner 3"><img alt="top banner 3" class="lazy img-responsive" src="./assets/380_200_3(1).jpg" style="width: 380px; height: 200px;"> <span class="hover_image">&nbsp; </span></a></li>
         </ul>
      </div>
      <div style="clear:both; height:0px;">&nbsp;</div>
   </div>
   <div style="clear:both; height:0px;">&nbsp;</div>
</div>
